@charset "utf8";
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic";
}
body { 
    background: url(../images/background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*
*headerのデザイン
*/
#wrapper{
    width: 100%;
    height: 100vh;
    background: rgba(255,255,255,0.4);
}
header{
    width: 100%;
    height: 30vh;
    overflow: hidden;
}
header #navi{
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 2%;
    float: right;
    display: none;
}
header #navi li{
    margin-top:5px;
    margin-bottom: 5px;
    width:150px;
    float: left;
    text-align: center;
    background-color: #eee;
    margin-left: 30px;
    line-height: 50px;
    border-radius: 20px;
    box-shadow:0px 0px 6px 3px #777;
    -moz-box-shadow:0px 0px 6px 3px #777;
    -webkit-box-shadow:0px 0px 6px 3px #777;
}
header #navi li a{
   display: block; 
}

/*
*contents
*/
#contents h2{
	text-align: center;
}
#contents h1{
    display: none;
    text-align: center;
    font-size: 120px;
    color: #55c500;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
}
#contents p{
    display: none;
    padding-top: 20px;
    margin-left: 750px;
    text-align: center;
}


/*
*sub_contents
*/
#sub_contents{
    display: none;
    text-align: center;
    border-top: solid 1px black;
    width: 100%;
    height:1800px;
    background-color: white;
}
#sub_contents #studyNote{
    color: #55c500;
    font-size: 60px;
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
}
#sub_contents h2{
    padding-top: 30px;
    margin-bottom: 30px;
}
#sub_contents p{
    margin-left: 8px;
    font-size: 20px;

}
#sub_contents #a{
    overflow: hidden;
    width: 1300px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#sub_contents img{
    text-align: left;
}
#sub_contents #logo{
    width:350px;
}
#sub_contents #whatMarkdown{
    text-align: left;
    margin-top: 110px;
    border: solid 1px #ccc;
    width: 50%;
    padding: 5px;
    line-height: 30px;
    margin-bottom: 100px;
    margin-right: 30px;
    float: right;
    clear: both;

}
#toUse{
    text-align: left;
    overflow: hidden;
    width: 85%;
    margin:0 auto;
}
#toUse h2{
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    color: #55c500;
    text-align: center;
    padding-bottom: 30px;

}
#toUseMarkdown{
    overflow: hidden;
    margin-bottom: 60px;
}
#toUse #toUseLeftMarkdown{
    width: 40%;
    float: left;
}
#toUse #toUseLeftMarkdown h3{
    text-align: center;
    padding-bottom: 60px;
}
#toUse #toUseRightMarkdown{
    width: 40%;
    float: right;
}
#toUseMypage{
    overflow: hidden;
    padding-bottom: 30px;
}
#toUseLeftMypage{
    width: 40%;
    float: left;
}
#toUseLeftMypage h3{
    text-align: center;
    padding-bottom: 60px;
}
#toUseRightMypage{
    width: 40%;
    float: right;
}

#sub_contents #join{
    margin-top: 50px;
    overflow: hidden;
    clear: left;
}
#sub_contents #join h2{
    font-family: 'Anton', sans-serif;
    font-family: 'Lobster', cursive;
    color: #55c500;
    text-align: center;
    margin-bottom: 50px;
}
#sub_contents #join p{
    margin: 0 auto;
    text-align: center;
    width: 300px;
    padding: 15px 40px;
    font-size: 1.2em;
    background-color:  #00FF7F;
    color: #fff;
    border-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow:0px 0px 6px 3px #777;
    -moz-box-shadow:0px 0px 6px 3px #777;
    -webkit-box-shadow:0px 0px 6px 3px #777;
}
#sub_contents #join img{
    padding-top: 30px;
    padding-left: 750px;
}


/*
*モーダル表示用css
*/

.modal-content {
    position:fixed;
    display:none;
    z-index:2;
    width:40%;
    margin:0;
    padding:10px 20px;
    border:2px solid #aaa;
    background:#eee;
}
.modal-content table{
	margin:0 auto;
}
.modal-content caption{
	margin-bottom: 20px;
	font-weight: bold;
	line-height: 30px;
	font-size: 20px;
}
.modal-content table td{
	height: 30px;
}
.modal-content p {
    margin:0;
    padding:0;
}
.modal-overlay {
    z-index:1;
    display:none;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:120%;
    background-color:rgba(0,0,0,0.75);
}
.modal-open {
    color:#00f;
    
}
.modal-open:hover {
    cursor:pointer;
    color:#f00;
}
.modal-close {
    color:#00f;
    text-decoration:underline;
}
.modal-close:hover {
    cursor:pointer;
    color:#f00;
}
#loginBottan{
    float: left;
    padding: 3%;
}
#login caption{
    font-size: 20px;
    line-height: 30px;
    font-weight: bold;
}
#login td{
    height: 40px;
    text-align: center;
}
label{
    margin-bottom: 20px;
    display: block;
}
.hoge{
    width: 100%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size:20px;
    margin-bottom: 15px;
}
input[type="submit"]{
    padding: 10px;
    font-size: 1.2em;
    background-color: #6bef6b;
    color: #fff;
    border-style: none;
    margin-top: 20px;
    box-shadow:0px 0px 6px 3px #777;
    -moz-box-shadow:0px 0px 6px 3px #777;
    -webkit-box-shadow:0px 0px 6px 3px #777;
}
#drag-drop-area{
    background-color: #f4f4f4;
    margin: 10px;
    border: #ddd dashed 5px;
    height: 110px;
    width: 100%;
    text-align: center;
    margin:0 auto;
    margin-bottom: 20px;
}
#con1{
    text-align: center;
}
#con2{
    text-align: center;
}


/*
*一文字ずつ表示css
*/
.textSplitLoad {
    display: none;
}
.split {
    visibility: hidden;
}
.split .textColor  {
    color: red;
}

